[submodule "libserial"]
	path = external/libserial/libserial
	url = https://github.com/crayzeewulf/libserial
[submodule "expected"]
	path = external/expected/expected
	url = https://github.com/TartanLlama/expected
[submodule "WiringPi"]
	path = external/wiringPi_cmake/WiringPi
	url = https://github.com/Lucino772/WiringPi
[submodule "external/etl"]
	path = external/etl
	url = https://github.com/ETLCPP/etl.git
